data/
*.bam
*.bai
*.fastq.gz
*.tbi
data/
Useful_files/
.KnownSites_Pf3D7_AllChr_v3_PASS_only.pf7.*
work/
results/
.nextflow*


# Large data files (GitHub limit 100MB)
*.vcf.gz
*.vcf
data/Useful_files/*.vcf.gz
data/Useful_files/*.vcf
